
html, body {
width: 100%;
height: 100%;
}
.test {
height: 50%;
width: 50%;
background: #000;
}

.top {
	background-color: red;
	float: none;
	width: 100%;
	height: 300px;
	


}

.left-middle {
	background-color: blue;
	float: left;
	width: 30%;
	height: 1500px;
	line-height: 500px;

}

.container {
	float: left;
	width: 40%;
}

.middle {
	background-color: yellow;
	float: none;
	height: 1200px;

	width: 100%;
}

.right-middle {
	background-color: blue;
	float: right;
	width: 275px;
	height: 1500px;
	
	line-height: 500px;

}

.bottom-middle {

	background-color: green;
	float: none;
	width: 100%;
    height: 300px;
	

}